/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local('Anton'), url(http://fonts.gstatic.com/s/anton/v6/4ccCHjovctZoFjdBOHBY_6CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Sanchez';
  font-style: normal;
  font-weight: 400;
  src: local('Sanchez'), local('Sanchez-Regular'), url(http://fonts.gstatic.com/s/sanchez/v4/9T6om-IyqE2CuKLLQr0lcgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
@font-face {
  font-family: 'Sanchez';
  font-style: italic;
  font-weight: 400;
  src: local('Sanchez Italic'), local('Sanchez-Italic'), url(http://fonts.gstatic.com/s/sanchez/v4/HsmMg_Kwn-sTuZvQJORnl7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local('Coming Soon'), local('ComingSoon'), url(http://fonts.gstatic.com/s/comingsoon/v6/myblyOycMnPMGjfPG-DzP7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}


 


@mixin body-font-regular {
   font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
}

@mixin body-font-bold {
     font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
    
}

@mixin headline-font {
   font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
}
    
  
//site variables
$background-color: #e6e3e3;
$color: #242424;
$color-title: #c45353;



